<!DOCTYPE html>
<html>
  <head>
    <title>Stockhome</title>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     
    <%= yield %>
  </body>
</html>
